@use "Modules/generalstylings";
@use "Modules/landingpage";
@use "Modules/latestworks";
@use "Modules/services";
@use "Modules/blog";
@use "Modules/quote";
@use "Modules/testimonials";
@use "Modules/contact";
@use "Modules/footer";
@use "Modules/mediaqueries";

@font-face {
    font-family: "AlegreyaSC-Regular";
    src: url(../font/AlegreyaSC-Regular.ttf);
}

@font-face {
    font-family: "AlegreyaSC-Medium";
    src: url(../font/AlegreyaSC-Medium.ttf);
}

@font-face {
    font-family: "Nixie-One";
    src: url(../font/NixieOne-Regular.ttf);
}

@font-face {
    font-family: "Alegreya-Sans-Medium";
    src: url(../font/AlegreyaSans-Medium.ttf);
}

@font-face {
    font-family: "Helvetica-Neue-Regular";
    src: url(../font/Helvetica.ttf);
}

@font-face {
    font-family: "Helvetica-Neue-Bold";
    src: url(../font/HelveticaNeueBold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
