h3 {
  color: #3A4F52;
  font-size: 2rem;
  font-family: "Alegreya-Sans-Medium";
}

button {
  background-color: transparent;
  border: solid 1px;
  width: 10vh;
}
button a {
  color: #3A4F52;
  text-decoration: none;
}

button:hover {
  background-color: #3A4F52;
  transition: 0.5s;
}
button:hover a {
  color: white;
  transition: 0.5s;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.2);
  width: 80%;
  text-align: center;
}

.landingpage {
  background-image: url(../img/0f6f55ffff18a259b1383b2fd9d785aa.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

header {
  font-family: "AlegreyaSC-Regular";
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2%;
}

.burgermenu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 30px;
  height: 40px;
  margin-right: 5px;
}

.burger-line {
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 3px;
  border-radius: 3px;
}

.burgermenu:hover {
  cursor: pointer;
}

.center-text {
  text-align: center;
  margin-top: 18.5%;
}

h2 {
  font-family: "Nixie-One";
  font-size: 3.5rem;
}

h1:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.latest-works {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}
.latest-works p {
  font-family: "Helvetica-Neue-Regular";
  color: #6a6a6a;
  margin-bottom: 5%;
}

.inline {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  margin-bottom: 2%;
}

.pictures {
  display: grid;
  grid-template-areas: "pic1 pic2 pic3" "pic4 pic5 pic6";
  gap: 3vh;
  margin: 0 auto;
}
.pictures button {
  height: 3vh;
  width: 10vh;
  color: white;
  opacity: 0;
}

.hover-effects {
  overflow: hidden;
  background-color: #0e5447;
}

.img-sizing {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 25vh;
  background-position: center;
  transition: 0.3s;
}

.img-sizing:hover {
  opacity: 0.3;
  transform: scale(1.5);
}
.img-sizing:hover button {
  opacity: 1;
}
.img-sizing:hover button:hover {
  color: #3A4F52;
  background-color: white;
}

.img1 {
  background-image: url(../img/9bc39ddb9aad30fe6d3a8d3894e09180.png);
}

.img2 {
  background-image: url(../img/ee4ef2bbc4378bed0136e1c180817985.png);
}

.img3 {
  background-image: url(../img/fd11e3b6e2cf2808f15923fb5f6f144d.png);
}

.img4 {
  background-image: url(../img/d922d9ae41e8f08d69cbc915bf910f06.png);
}

.img5 {
  background-image: url(../img/60ef89f17cfdce93d119d158c2fb2add.png);
}

.img6 {
  background-image: url(../img/6c9d94b751f73746244fe5609c0430bf.png);
}

.services {
  background-image: url(../img/8d72e0af708f1d83a868ba81ee657811.png);
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services p {
  font-family: "Helvetica-Neue-Regular";
  font-weight: 200;
}

h4 {
  font-family: "Alegreya-Sans-Medium";
  font-weight: 400;
  font-size: 2.3rem;
  margin: 2%;
}

.grid-services {
  display: grid;
  grid-template-areas: "top top top" "con1 con2 con3";
}

.top {
  grid-area: top;
  text-align: center;
  margin-bottom: 3%;
}

.container {
  margin: 5%;
  text-align: center;
}

.blog {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}
.blog p {
  font-family: "Helvetica-Neue-Regular";
  color: #6a6a6a;
  margin-bottom: 5%;
}

h5 {
  color: #3A4F52;
  font-size: 1.6rem;
  font-family: "Alegreya-Sans-Medium";
  margin: 5% 0;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.pic-with-content {
  margin-right: 3.2%;
  max-width: 25rem;
}
.pic-with-content a {
  color: #4da7ca;
  text-decoration: none;
  font-family: "Helvetica-Neue-Regular";
}
.pic-with-content a:hover {
  text-decoration: underline;
}

.quote {
  background-image: url(../img/6f4d0914c7b5ddb743f600df2edc50bf.png);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote p {
  font-family: "Alegreya-Sans-Medium";
  font-size: 2rem;
  padding: 2%;
}
.quote button {
  background-color: transparent;
  border: solid 1px;
  border-color: white;
  width: 20vh;
  height: 3rem;
  margin: 2%;
}
.quote button a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.quote button:hover {
  background-color: white;
  transition: 0.5s;
}
.quote button:hover a {
  color: #3A4F52;
}

.testimonials {
  width: 80%;
  margin: 5% auto;
  height: 60vh;
  text-align: center;
}
.testimonials p {
  font-family: "Helvetica-Neue-Regular";
  color: #6a6a6a;
  margin-bottom: 5%;
}
.testimonials p span {
  font-family: "Helvetica-Neue-Bold";
}

.person {
  margin: 4%;
}

.contact {
  background-image: url(../img/0f059263e745af4cc020ae3acf5695ac.png);
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-contact {
  display: flex;
  flex-direction: column;
  height: 50vh;
  align-items: center;
}
.flexbox-contact h6 {
  font-family: "Alegreya-Sans-Medium";
  font-size: 2rem;
  margin-top: 1%;
}
.flexbox-contact p {
  margin: 2%;
  margin-bottom: 7%;
  font-family: "Helvetica-Neue-Regular";
}
.flexbox-contact input {
  background-color: transparent;
  width: 40%;
  margin: 0.5%;
  height: 10%;
  border: 1px solid white;
  border-radius: 5px;
  text-align: top;
}
.flexbox-contact input::-moz-placeholder {
  color: white;
  padding-left: 1%;
}
.flexbox-contact input::placeholder {
  color: white;
  padding-left: 1%;
}
.flexbox-contact button {
  background-color: transparent;
  border: solid 1px;
  border-color: white;
  width: 15vh;
  height: 3rem;
  margin: 2%;
  color: white;
  font-size: 1rem;
}
.flexbox-contact button:hover {
  background-color: white;
  transition: 0.5s;
  color: #3A4F52;
}
.flexbox-contact .bigger {
  height: 14%;
}

footer {
  height: 15vh;
  color: white;
  background-color: #2B3E51;
}
footer p {
  margin-left: 10%;
  padding-top: 3%;
}

@media only screen and (max-width: 922px) {
  .landingpage {
    background-position: center;
    height: 50vh;
  }
  h1 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
  .latest-works {
    width: 90%;
    height: 60vh;
  }
  .latest-works .img-sizing {
    height: 8rem;
  }
  .services {
    height: 102vh;
  }
  .grid-services {
    display: flex;
    flex-direction: column;
  }
  .transparent {
    width: 95%;
  }
  .blog {
    width: 95%;
    height: 80vh;
  }
  .pic-with-content img {
    width: 100%;
  }
  .testimonials {
    height: 120vh;
    width: 95%;
  }
  .testimonials .flexbox {
    flex-direction: column;
  }
  .person {
    margin: 2rem;
  }
  .person p {
    margin: 0;
  }
  .person .querymargin {
    margin-top: 1rem;
  }
  .contact {
    height: 50vh;
  }
  .contact .transparent {
    height: 40vh;
    width: 100%;
  }
  .flexbox-contact input {
    width: 70%;
    height: 8%;
  }
  .flexbox-contact button {
    height: 2.5rem;
  }
}
@media only screen and (max-width: 576px) {
  .latest-works {
    height: 100rem;
  }
  .latest-works .img-sizing {
    height: 13rem;
  }
  .pictures {
    display: flex;
    flex-direction: column;
  }
  .img-sizing {
    height: 15rem;
  }
  .blog {
    height: 115rem;
  }
  .flexbox {
    flex-direction: column;
  }
  .pic-with-content {
    margin: 2rem 0;
  }
  .quote {
    height: 40rem;
  }
  .testimonials {
    height: 74rem;
  }
}
.blog {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.blog p {
  font-family: "Helvetica-Neue-Regular";
  color: #6a6a6a;
  margin-bottom: 5%;
}

h5 {
  color: #3A4F52;
  font-size: 1.6rem;
  font-family: "Alegreya-Sans-Medium";
  margin: 5% 0;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

.pic-with-content {
  margin-right: 3.2%;
  max-width: 25rem;
}
.pic-with-content a {
  color: #4da7ca;
  text-decoration: none;
  font-family: "Helvetica-Neue-Regular";
}
.pic-with-content a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: "AlegreyaSC-Regular";
  src: url(../font/AlegreyaSC-Regular.ttf);
}
@font-face {
  font-family: "AlegreyaSC-Medium";
  src: url(../font/AlegreyaSC-Medium.ttf);
}
@font-face {
  font-family: "Nixie-One";
  src: url(../font/NixieOne-Regular.ttf);
}
@font-face {
  font-family: "Alegreya-Sans-Medium";
  src: url(../font/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: "Helvetica-Neue-Regular";
  src: url(../font/Helvetica.ttf);
}
@font-face {
  font-family: "Helvetica-Neue-Bold";
  src: url(../font/HelveticaNeueBold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */