.blog {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5rem;

    p {
        font-family: "Helvetica-Neue-Regular";
        color: #6a6a6a;
        margin-bottom: 5%;
    }
}

h5 {
    color: #3A4F52;
    font-size: 1.6rem;
    font-family:"Alegreya-Sans-Medium";
    margin: 5% 0;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}

.pic-with-content {
    margin-right: 3.2%;
    max-width: 25rem;
    a {
        color: #4da7ca;
        text-decoration: none;
        font-family: "Helvetica-Neue-Regular";
    }

    a:hover {
        text-decoration: underline;
    }
}