.contact {
    background-image: url(../img/0f059263e745af4cc020ae3acf5695ac.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexbox-contact {
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;

    h6 {
        font-family: "Alegreya-Sans-Medium";
        font-size: 2rem;
        margin-top: 1%;
    }

    p {
        margin: 2%;
        margin-bottom: 7%;
        font-family: "Helvetica-Neue-Regular";

    }

    input {
        background-color: transparent;
        width: 40%;
        margin: 0.5%;
        height: 10%;
        border: 1px solid white;
        border-radius: 5px;
        text-align: top;

    }

    input::placeholder {
        color: white;
        padding-left: 1%;
    }

    button {
        background-color: transparent;
        border: solid 1px;
        border-color: white;
        width: 15vh;
        height:3rem;
        margin: 2%;
        color: white;
        font-size: 1rem;
    }

    button:hover {
        background-color: white;
        transition: 0.5s;
        color: #3A4F52;
    }

    .bigger {
        height:14%;
    }
}