.latest-works {
    width: 80%;
    margin: 0 auto;
    height: 100vh;

    p {
        font-family: "Helvetica-Neue-Regular";
        color: #6a6a6a;
        margin-bottom: 5%;
    }
}

.inline {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    margin-bottom: 2%;
}

.pictures {
    display: grid;
    grid-template-areas:
    "pic1 pic2 pic3"
    "pic4 pic5 pic6";
    gap: 3vh;
    margin: 0 auto;

    button {
        height: 3vh;
        width: 10vh;
        color: white;
        opacity: 0;
    }
}

.hover-effects {
    overflow: hidden;
    background-color: #0e5447;
}

.img-sizing{
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    transition: .3s;
}

.img-sizing:hover {
    opacity: 0.3;
    transform: scale(1.5);

    button {
        opacity: 1;
        height: 1.5rem;
        font-size: 0.7rem;
    }

    button:hover {
        color: #3A4F52;
        background-color: white;
    }
}

.img1 {
    background-image: url(../img/9bc39ddb9aad30fe6d3a8d3894e09180.png);
}

.img2 {
    background-image: url(../img/ee4ef2bbc4378bed0136e1c180817985.png);
}

.img3 {
    background-image: url(../img/fd11e3b6e2cf2808f15923fb5f6f144d.png);
}

.img4 {
    background-image: url(../img/d922d9ae41e8f08d69cbc915bf910f06.png);
}

.img5 {
    background-image: url(../img/60ef89f17cfdce93d119d158c2fb2add.png);
}

.img6 {
    background-image: url(../img/6c9d94b751f73746244fe5609c0430bf.png);
}
