@media only screen and (max-width:922px) {

    .landingpage {
        background-position: center;
        height: 50vh;
    }

    h1 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-left: 0.5rem;
    }

    // latest works section

    .latest-works {
        width: 90%;
        height: 60vh;

        .img-sizing {
            height: 8rem;
        }
    }


    // Services section

    .services {
        height: 102vh;
    }

    .grid-services {
        display: flex;
        flex-direction: column;
    }

    .transparent {
        width: 95%;
    }

    // blog section

    .blog {
        width: 95%;
        height: 80vh;
    }

    .pic-with-content {
        img {
            width: 100%;
        }
    }

    //testimonials section

    .testimonials {
        height: 120vh;
        width: 95%;

        .flexbox {
            flex-direction: column;
        }
    }

    .person {
        margin: 2rem;

        p {
            margin: 0;
        }

        .querymargin {
            margin-top: 1rem;
        }
    }

    // footer section

    .contact {
        height: 50vh;

        .transparent {
        height: 40vh;
        width: 100%;
        }
    }

    .flexbox-contact {
        input {
            width: 70%;
            height: 8%;
        }

        button {
            height: 2.5rem;
        }
    }
}

@media only screen and (max-width:576px) {

    // latest works section
    .latest-works {
        height: 100rem;

        .img-sizing {
            height: 13rem;
        }
    }

    .pictures {
        display: flex;
        flex-direction: column;
    }

    .img-sizing {
        height: 15rem;
    }

    // blog section

    .blog {
        height: 115rem;
    }

    .flexbox {
        flex-direction: column;
    }

    .pic-with-content {
        margin: 2rem 0;
    }

    // quote section

    .quote {
        height: 40rem;
    }

    .testimonials {
        height: 74rem;
    }
}