.services {
    background-image: url(../img/8d72e0af708f1d83a868ba81ee657811.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-family: "Helvetica-Neue-Regular";
        font-weight: 200;
    }
}

h4 {
    font-family: "Alegreya-Sans-Medium";
    font-weight: 400;
    font-size: 2.3rem;
    margin: 2%;
}

.grid-services {
    display: grid;
    grid-template-areas: 
    "top top top"
    "con1 con2 con3";
}

.top {
    grid-area: top;
    text-align: center;
    margin-bottom: 3%;
}

.container {
    margin: 5%;
    text-align: center;
}
