.testimonials {
    width: 80%;
    margin: 5% auto;
    height: 60vh;
    text-align: center;

    p {
        font-family: "Helvetica-Neue-Regular";
        color: #6a6a6a;
        margin-bottom: 5%;

        span {
            font-family:"Helvetica-Neue-Bold" ;
        }
    }
}

.person {
    margin: 4%;
}
